body{
    background: rgba(244, 254, 255, 0.671);
    font-family: Times New Roman;
}

h1{
    font-family: Times New Roman;
    text-align: center;
    font-size: 35px;
}

h2{
    font-family: Times New Roman;
    font-size: 20px;
}

h3{
    font-family: Times New Roman;
    font-size: 20px;
}

div{
 overflow:hidden;
 margin: 20px;
}

img{

transition: 0.5s;
object-fit: cover;
}

img:hover{
    transform: scale(1.2) ;
}

.contenedor  button{
background: rgb(111, 123, 124);
color: black;
border-radius: 40px;
font-size: 40x;
width: 130px;
height: 60px;
}

.menu{
	list-style: none;
	padding: 0;
	background: #092327;
	width: 55%;
	max-width: 1000px;
	margin: auto;
}

.menu li a{
	text-decoration: none;
	color: white;
	padding: 20px;
	display: block;
}

.menu li{
	display: inline-block;
	text-align: center;
}

.menu li a:hover{
	background: #22bcc7;
}